# Put this file in /lib/udev/rules.d or /etc/udev/rules.d
# Prevent the nvidia card from "randomly" turning on
DEVPATH=="/module/nvidia", ACTION=="remove", RUN+="/bin/sh -c 'rm -f /dev/nvidiactl /dev/nvidia[0-9] /dev/nvidia-modeset /dev/nvidia-uvm /dev/nvidia-uvm-tools'"
