[Unit]
Description=Socket for bbswitchd daemon

[Socket]
ListenDatagram=%t/bbswitchd.sock
SocketGroup=bbswitchd
SocketMode=0660
FlushPending=yes

[Install]
WantedBy=sockets.target